<form [formGroup]="tagForm" (ngSubmit)="onSubmit()" class="custom-form">
  <h1>Registro de Tag</h1>
  <div class="grid-container">
    <app-form-input label="Nombre" type="text" controlName="nombre" [formGroup]="tagForm">
    </app-form-input>

    <app-form-input label="Tag Diminutivo" type="text" controlName="tag_deminutivo" [formGroup]="tagForm">
    </app-form-input>
    <app-form-date-input label="Fecha de Creación" controlName="fecha_creacion" [formGroup]="tagForm">
    </app-form-date-input>
  </div>
  <!-- Botón de Enviar -->
  <button type="submit" [disabled]="tagForm.invalid">Registrar Tag</button>
</form>