.container {
  margin: 0 auto;
  padding: 20px;
  width: 80%;
  background-color: #f0f4f8;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  max-width: 1200px; /* Limitar el ancho en pantallas grandes */
}

h2 {
  text-align: center;
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  overflow-x: auto; /* Permitir desplazamiento horizontal en pantallas pequeñas */
}

thead {
  background-color: #333;
  color: white;
}

th, td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

td {
  font-size: 14px;
  color: #555;
}

th {
  font-size: 16px;
}

table, th, td {
  border: 1px solid #ccc;
}

.botonesAcciones{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.botonesAcciones button {
  margin: 5px;
  padding: 5px;
  border: none;
  background-color: #bbbbbb;
  border-radius: 10px;
  color: #666666;
  cursor: pointer;
}

.botonesAcciones button:hover {
  background-color: #666666;
  color: #bbbbbb;
}

/* Media queries para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
  .container {
    width: 95%; /* Reducir el ancho del contenedor */
    padding: 10px;
  }

  th, td {
    padding: 8px 10px; /* Reducir padding de celdas */
    font-size: 12px; /* Reducir tamaño de fuente */
  }

  h2 {
    font-size: 20px; /* Reducir tamaño del título */
  }

  table {
    display: block;
    overflow-x: auto; /* Agregar scroll horizontal en tablas largas */
    white-space: nowrap; /* Evitar que las celdas se quiebren en líneas pequeñas */
  }
}

/* Media queries para pantallas muy pequeñas (menos de 480px) */
@media (max-width: 480px) {
  th, td {
    font-size: 11px; /* Ajustar aún más el tamaño de las fuentes */
    padding: 6px 8px;
  }

  h2 {
    font-size: 18px; /* Ajustar el tamaño del encabezado */
  }
}
