<div class="container">
    <h2>Listado de Órdenes de Trabajo</h2>
    
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Fecha de Impresión</th>
          <th>Fecha de Terminación</th>
          <th>Observación</th>
          <th>Operario</th>
          <th>Edificio</th>
          <th>Piso</th>
          <th>Sector</th>
          <th>Ubicación</th>
          <th>Activo</th>
          <th>Tiempo</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let orden of ordenes">
          <td>{{ orden.id_ot }}</td>
          <td>{{ orden.fecha_impresion | date: 'dd/MM/yyyy' }}</td>
          <td>{{ orden.fecha_terminacion | date: 'dd/MM/yyyy' }}</td>
          <td>{{ orden.observacion }}</td>
          <td>{{ orden.id_operario }}</td>
          <td>{{ orden.id_edificio }}</td>
          <td>{{ orden.id_piso }}</td>
          <td>{{ orden.id_sector }}</td>
          <td>{{ orden.id_ubicacion }}</td>
          <td>{{ orden.id_activo }}</td>
          <td>{{ orden.tiempo }}</td>
          <td><div class="botonesAcciones">
            
            <button type="button" [routerLink]="['/dashboard/orden/ver', orden.id_ot]"><span class="material-symbols-outlined">
              search_insights
              </span></button>
              <button type="button" [routerLink]="['/dashboard/orden/edit', orden.id_ot]"><span class="material-symbols-outlined">
              edit_square
              </span></button>
              <button type="button" [routerLink]="['/dashboard/orden/delete', orden.id_ot]"><span class="material-symbols-outlined">
              delete
              </span></button>
          </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  