h2 {
  text-align: center;
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  overflow-x: auto;
  /* Permitir desplazamiento horizontal en pantallas pequeñas */
}

thead {
  background-color: #333;
  color: white;
}

th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

td {
  font-size: 14px;
  color: #555;
}

th {
  font-size: 16px;
}

table,
th,
td {
  border: 1px solid #ccc;
}

.botonesAcciones {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.botonesAcciones button {
  margin: 5px;
  padding: 5px;
  border: none;
  background-color: #bbbbbb;
  border-radius: 10px;
  color: #666666;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.botonesAcciones button:hover {
  background-color: #666666;
  color: #bbbbbb;
}

/* Media queries para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
  .container {
    width: 95%;
    /* Reducir el ancho del contenedor */
    padding: 10px;
  }

  th,
  td {
    padding: 8px 10px;
    /* Reducir padding de celdas */
    font-size: 12px;
    /* Reducir tamaño de fuente */
  }

  h2 {
    font-size: 20px;
    /* Reducir tamaño del título */
  }

  table {
    display: block;
    overflow-x: auto;
    /* Agregar scroll horizontal en tablas largas */
    white-space: nowrap;
    /* Evitar que las celdas se quiebren en líneas pequeñas */
  }
}

/* Media queries para pantallas muy pequeñas (menos de 480px) */
@media (max-width: 480px) {

  th,
  td {
    font-size: 11px;
    /* Ajustar aún más el tamaño de las fuentes */
    padding: 6px 8px;
  }

  h2 {
    font-size: 18px;
  }
}

.panel2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.panel2 label {
  display: inline-flex;
}

.panel2 input,
select {
  all: unset;
  border-radius: 0.5rem;
  padding: 1rem;
  border: none;
  box-shadow: inset -5px -5px 15px rgba(255, 255, 255, 0.8),
    inset 5px 5px 10px rgba(0, 0, 0, 0.1);
  background: #ebf5fc;
}


.btn-buscar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 10px;
  border: none;
  background-color: #666666;
  color: #eeeeee;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color .3s ease;
}

.btn-buscar:hover {
  background-color: #eeeeee;
  color: #666666;
  border: 1px solid #666666;
}

.form-filtros {
  margin: 10px;
}

.btns-form {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: end;
  margin: 10px;
}