<body>
    <div class="container">
        <header>
            <h1>Orden de Trabajo de Mantenimiento Planificado</h1>
            <p>OT N°: 20220149_20 | LUMN: 001002803100101 - 566</p>
            <p>Código Único de Identificación de Activo: 001002803100101 - 566</p>
            <p>Tipo de Activo: Iluminación</p>
            <p>Edificio: Lámpara 651 - UTN FRVT</p>
            <p>Piso: 1 | N° de Patrón: 30 | NO Planificado: 40</p>
        </header>
        
        <section class="instructions">
            <h2>Instrucciones de la tarea</h2>
            <ol>
                <li>Sefalice el área de Trabajo. Desconecte la energía eléctrica.</li>
                <li>Control de luz.</li>
                <li>Verificación de funcionamiento y totalidades de lámparas.</li>
                <li>Verificación de estados de accesos y portalamparas.</li>
                <li>Limpieza de luminaria y lámpara.</li>
                <li>Verifique correcto funcionamiento del equipo luego finalizada la actividad.</li>
                <li>Complete la documentación de mantenimiento.</li>
                <li>Al finalizar la actividad, entregue el equipo limpios, ordenados y seguros.</li>
            </ol>
        </section>

        <footer>
            <p>Fecha de realización: 2024-10-19</p>
            <p>Tarea Realizada por: Pablo</p>
            <div class="qr-code">
                <!--<img src="qr_code.png" alt="Código QR">-->
            </div>
        </footer>
    </div>
</body>