<div class="container-dashboard">
    <div class="sidebar">
        <!-- Botón 1 con subbotones -->
        <div class="menu-item">
            <button (click)="toggleDropdown(1)">Orden de trabajo</button>
            <div *ngIf="isExpanded(1)" class="submenu">
                <button [routerLink]="['orden']">Nueva</button>
                <button [routerLink]="['orden/lista']">Lista</button>
                <button>SubButton 1.3</button>
            </div>
        </div>

        <!-- Botón 2 sin subbotones -->
        <div class="menu-item">
            <button (click)="toggleDropdown(2)">Activo</button>
            <div *ngIf="isExpanded(2)" class="submenu">
                <button [routerLink]="['activo']">Nuevo</button>
                <button>SubButton 1.2</button>
                <button>SubButton 1.3</button>
            </div>
        </div>

        <!-- Botón 3 con subbotones -->
        <div class="menu-item">
            <button (click)="toggleDropdown(3)">Tarea</button>
            <div *ngIf="isExpanded(3)" class="submenu">
                <button [routerLink]="['tarea']">Nuevo</button>
                <button>SubButton 3.2</button>
                <button>SubButton 3.3</button>
            </div>
        </div>

        <!-- Botón 4 con subbotones -->
        <div class="menu-item">
            <button (click)="toggleDropdown(4)">Edificio</button>
            <div *ngIf="isExpanded(4)" class="submenu">
                <button [routerLink]="['edificio']">Nuevo</button>
                <button>SubButton 3.2</button>
                <button>SubButton 3.3</button>
            </div>
        </div>

        <!-- Botón 5 con subbotones -->
        <div class="menu-item">
            <button (click)="toggleDropdown(5)">Piso</button>
            <div *ngIf="isExpanded(5)" class="submenu">
                <button [routerLink]="['piso']">Nuevo</button>
                <button>SubButton 3.2</button>
                <button>SubButton 3.3</button>
            </div>
        </div>

        <!-- Otros botones sin subbotones -->
        <div class="menu-item">
            <button>Button 4</button>
            <button>Button 5</button>
            <button>Button 6</button>
            <button>Button 7</button>
            <button>Button 8</button>
            <button>Button 9</button>
        </div>
        <button class="btn-volver" [routerLink]="['/dashboard']">Volver</button>
    </div>
    <div class="contenedor">
        <router-outlet></router-outlet>
    </div>

</div>