<div class="container-dashboard">
    <div class="sidebar">

        <div class="menu-item">
            <button (click)="toggleDropdown(1)">Orden de trabajo</button>
            <div *ngIf="isExpanded(1)" class="submenu">
                <button [routerLink]="['orden']">Nueva</button>
                <button [routerLink]="['orden/lista']">Lista</button>
            </div>
        </div>

        <div class="menu-item">
            <button (click)="toggleDropdown(2)">Activo</button>
            <div *ngIf="isExpanded(2)" class="submenu">
                <button [routerLink]="['activo']">Nuevo</button>                
            </div>
        </div>

        <div class="menu-item">
            <button (click)="toggleDropdown(3)">Tarea</button>
            <div *ngIf="isExpanded(3)" class="submenu">
                <button [routerLink]="['tarea']">Nuevo</button>
            </div>
        </div>

        <div class="menu-item">
            <button (click)="toggleDropdown(7)">Tipo de Tarea</button>
            <div *ngIf="isExpanded(7)" class="submenu">
                <button [routerLink]="['tipotarea']">Nuevo</button>                
            </div>
        </div>

        <div class="menu-item">
            <button (click)="toggleDropdown(4)">Edificio</button>
            <div *ngIf="isExpanded(4)" class="submenu">
                <button [routerLink]="['edificio']">Nuevo</button>
            </div>
        </div>

        <div class="menu-item">
            <button (click)="toggleDropdown(8)">Ubicacion</button>
            <div *ngIf="isExpanded(8)" class="submenu">
                <button [routerLink]="['ubicacion']">Nuevo</button>                
            </div>
        </div>

        <div class="menu-item">
            <button (click)="toggleDropdown(5)">Piso</button>
            <div *ngIf="isExpanded(5)" class="submenu">
                <button [routerLink]="['piso']">Nuevo</button>                
            </div>
        </div>

        <div class="menu-item">
            <button (click)="toggleDropdown(6)">Sector</button>
            <div *ngIf="isExpanded(6)" class="submenu">
                <button [routerLink]="['sector']">Nuevo</button>                
            </div>
        </div>

        <button class="btn-volver" [routerLink]="['/dashboard']">Volver</button>
    </div>
    <div class="contenedor">
        <router-outlet></router-outlet>
    </div>

</div>