.container-dashboard {
  display: flex;
  justify-content: start;
}

.content {
  flex-grow: 1;
  padding: 20px;
}
.contenedorForms{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70vw;
  flex-direction: column;
}

.sidebar {
  width: 250px;
  background-color: #eeeeee;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.menu-item {
  margin-bottom: 10px;
}

.sidebar button {
  width: 100%;
  margin: 5px 0;
  padding: 10px;
  background-color: #1f1f1f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.sidebar button:hover {
  background-color: #333;
}

.submenu {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  /* Para un efecto anidado */
  margin-top: 5px;
}

.submenu button {
  background-color: #333;
  margin: 2px 0;
  font-size: 14px;
}

.btn-volver {
  background-color: #920000;
}


@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
  }

  .sidebar button {
    width: auto;
    margin: 5px;
  }

  .submenu {
    padding-left: 0;
  }
}