<div class="register">
    <form [formGroup]="formData" class="custom-form" method="post">
        <h1>Register</h1>
        <input type="email" name="email" placeholder="Email" formControlName="email"  required/>
        <input type="password" name="password" placeholder="Password" formControlName="password"  required />
        <input type="password" name="password" placeholder="Repeat the password" formControlName="confirmPassword"  required />
        <button type="submit" (click)="registro()">Register</button>
    </form>
</div>