<header>
    <img src="./assets/images/utn.png" alt="Logo UTN" class="logo">
</header>
<div class="register">
    <form [formGroup]="formData" (ngSubmit)="onSubmit()" class="custom-form" method="post">
        <h1>Registro</h1>
        <input type="email" name="email" placeholder="Email" formControlName="email" required />
        <div *ngIf="formData.get('email')?.invalid && formData.get('email')?.touched">
            <small *ngIf="formData.get('email')?.errors?.['required']">El correo es obligatorio.</small>
            <small *ngIf="formData.get('email')?.errors?.['email']">Formato de correo inválido.</small>
        </div>
        <input type="password" id="password" formControlName="password" name="password" placeholder="Password">
        <div *ngIf="formData.get('password')?.invalid && formData.get('password')?.touched">
            <small *ngIf="formData.get('password')?.errors?.['required']">La contraseña es obligatoria.</small>
            <small *ngIf="formData.get('password')?.errors?.['minlength']">Mínimo 6 caracteres.</small>
        </div>
        <label for="confirmPassword">Confirmar Contraseña</label>
        <input type="password" id="confirmPassword" formControlName="confirmPassword" name="password"
            placeholder="Repeat the password">
        <div *ngIf="formData.hasError('notSame') && formData.get('confirmPassword')?.touched">
            <small>Las contraseñas no coinciden.</small>
        </div>
        <button type="submit" [disabled]="formData.invalid">Registrar</button>
    </form>
</div>