<div class="panel">
  <app-boton-dash [ruta]="ruta" [titulo]="titulo"></app-boton-dash>
  <form [formGroup]="pisoForm" (ngSubmit)="onSubmit()">
    <div class="grid-container">
      <app-form-input label="Nombre" type="text" controlName="nombre" [formGroup]="pisoForm">
      </app-form-input>

      <app-form-input label="labelTag" type="number" controlName="labelTag" [formGroup]="pisoForm">
      </app-form-input>
    </div>
    <div class="grid-container">
      <app-form-select label="Sector" controlName="id_sector" [formGroup]="pisoForm" [options]="sectores"
        displayProperty="nombre" valueProperty="id_sector">
      </app-form-select>
    </div>
    <button type="submit" class="btn-submit" [disabled]="pisoForm.invalid">Registrar piso</button>
  </form>
</div>