<div class="panel">
    <app-boton-dash [ruta]="ruta" [titulo]="titulo"></app-boton-dash>
    <form [formGroup]="activoForm" (ngSubmit)="onSubmit()">
        <div class="grid-container">
            <app-form-input label="Nombre" type="text" controlName="nombre" [formGroup]="activoForm">
            </app-form-input>

            <app-form-input label="ID Tag" type="number" controlName="id_tag" [formGroup]="activoForm">
            </app-form-input>
            
            <app-form-checkbox label="Disponibilidad" controlName="Disponibilidad" [formGroup]="activoForm">
            </app-form-checkbox>
        </div>
        <div class="grid-container">
            <app-form-input label="Label Tag" type="number" controlName="labelTag" [formGroup]="activoForm">
            </app-form-input>

            <app-form-input label="Número de Existencia" type="number" controlName="numero_existencia"
                [formGroup]="activoForm">
            </app-form-input>

            <app-form-input label="Número Real" type="number" controlName="numero_real" [formGroup]="activoForm">
            </app-form-input>
        </div>
        <button type="submit" class="btn-submit" [disabled]="activoForm.invalid">Registrar Activo</button>
    </form>
</div>