
  <h1>Orden de Trabajo de Mantenimiento Planificado</h1>

  <div class="info-principal">
    <p><strong>OT N°:</strong> {{ orden?.fecha_creacion | date: 'yyyyMMdd'}} _ 20 _ ILUM - 001002081001001 - 566</p>
    <p><strong>Código Único de Identificación de Activo:</strong> ILUM - 001002081001001 - 566</p>
    <p><strong>Tipo de Activo:</strong> Iluminación</p>
    <p><strong>Edificio:</strong> {{ orden?.direccion_edificio }} - {{ orden?.nombre_edificio }}</p>
    <p><strong>Piso / Nivel:</strong>{{ orden?.nombre_piso }}</p>
    <p><strong>Sector:</strong>{{ orden?.nombre_sector }}</p>
    <p><strong>Tipo de Mantenimiento:</strong> Mant. Prev. Planif. = 20</p>
  </div>

  <div class="instrucciones">
    <h2>Instrucciones de la tarea</h2>
    <ol>
      <li>Señalice el área de trabajo. Desconecte la energía eléctrica - Verificar NO existencia de tensión eléctrica.
      </li>
      <li>Control de louver.</li>
      <li>Verificación de funcionamiento de la totalidad de las lámparas.</li>
      <li>Verificación de estados de zócalos y/o portalámparas.</li>
      <li>Limpieza de luminaria y lámpara.</li>
      <li>Verificar correcto montaje y sujeción.</li>
      <li>Verifique correcto funcionamiento del equipo luego de finalizada la actividad.</li>
      <li>Complete la documentación de mantenimiento.</li>
      <li>Deje el área y equipo limpios, ordenados y seguros.</li>
    </ol>
  </div>

  <div class="info-adicional">
    <p><strong>Fecha Impresión:</strong> {{ orden?.fecha_impresion | date: 'yyyyMMdd'}}</p>
    <p><strong>Fecha de Realización:</strong>{{ orden?.fecha_terminacion | date: 'yyyyMMdd'}}</p>
    <p><strong>Tiempo total utilizado:</strong>{{ orden?.tiempo | date: "yyyyMMdd - HH:mm:ss"}}</p>
    <p><strong>Tarea Realizada por:</strong>{{ orden?.id_operario }}</p>
    <p><strong>Tarea Controlada por:</strong> Ruben</p>
  </div>

  <div class="observaciones">
    <h3>Observaciones, comentarios y repuestos utilizados:</h3>
    <p>{{ orden?.observacion }}</p>
  </div>