<div class="orden-trabajo-container">
    <h1>Orden de Trabajo de Mantenimiento Planificado</h1>
  
    <div class="info-principal">
      <p><strong>OT N°:</strong> 20241019 _ 20 _ ILUM - 001002081001001 - 566</p>
      <p><strong>Código Único de Identificación de Activo:</strong> ILUM - 001002081001001 - 566</p>
      <p><strong>Tipo de Activo:</strong> Iluminación</p>
      <p><strong>Edificio:</strong> Laprida 651 - UTN FRVT</p>
      <p><strong>Piso / Nivel:</strong> 1er. Piso</p>
      <p><strong>Sector:</strong> Aula 17</p>
      <p><strong>Tipo de Mantenimiento:</strong> Mant. Prev. Planif. = 20</p>
    </div>
  
    <div class="instrucciones">
      <h2>Instrucciones de la tarea</h2>
      <ol>
        <li>Señalice el área de trabajo. Desconecte la energía eléctrica - Verificar NO existencia de tensión eléctrica.</li>
        <li>Control de louver.</li>
        <li>Verificación de funcionamiento de la totalidad de las lámparas.</li>
        <li>Verificación de estados de zócalos y/o portalámparas.</li>
        <li>Limpieza de luminaria y lámpara.</li>
        <li>Verificar correcto montaje y sujeción.</li>
        <li>Verifique correcto funcionamiento del equipo luego de finalizada la actividad.</li>
        <li>Complete la documentación de mantenimiento.</li>
        <li>Deje el área y equipo limpios, ordenados y seguros.</li>
      </ol>
    </div>
  
    <div class="info-adicional">
      <p><strong>Fecha Impresión:</strong> 2024-10-19</p>
      <p><strong>Fecha de Realización:</strong> [Fecha de realización]</p>
      <p><strong>Tiempo total utilizado:</strong> [Tiempo]</p>
      <p><strong>Tarea Realizada por:</strong> Pablo</p>
      <p><strong>Tarea Controlada por:</strong> Ruben</p>
    </div>
  
    <div class="observaciones">
      <h3>Observaciones, comentarios y repuestos utilizados:</h3>
      <p>[Comentarios]</p>
    </div>
  </div>
  