<div class="panel">
  <app-boton-dash [ruta]="ruta" [titulo]="titulo"></app-boton-dash>
  <form [formGroup]="ordenTrabajoForm" (ngSubmit)="onSubmit()">
    <div class="grid-container">
      <app-form-date-input label="Fecha de Impresión" controlName="fecha_impresion" [formGroup]="ordenTrabajoForm">
      </app-form-date-input>

      <app-form-date-input label="Fecha de Terminación" controlName="fecha_terminacion" [formGroup]="ordenTrabajoForm">
      </app-form-date-input>

      <div class="form-group">
        <label for="observacion">Observación</label>
        <textarea type="text" id="observacion" formControlName="observacion" maxlength="255"></textarea>
        <div *ngIf="ordenTrabajoForm.get('observacion')?.invalid && ordenTrabajoForm.get('observacion')?.touched">
          <small>Máximo 255 caracteres.</small>
        </div>
      </div>
    </div>
    <div class="grid-container">
      <app-form-select label="Operario" controlName="id_op" [formGroup]="ordenTrabajoForm" [options]="operarios"
        displayProperty="nombre" valueProperty="id_op">
      </app-form-select>

      <app-form-select label="Edificio" controlName="id_edificio" [formGroup]="ordenTrabajoForm" [options]="edificios"
        displayProperty="Nombre" valueProperty="id_edificio">
      </app-form-select>

      <app-form-select label="Piso" controlName="id_piso" [formGroup]="ordenTrabajoForm" [options]="pisos"
        displayProperty="nombre" valueProperty="id_piso">
      </app-form-select>
    </div>
    <div class="grid-container">
      <app-form-select label="Sector" controlName="id_sector" [formGroup]="ordenTrabajoForm" [options]="sectores"
        displayProperty="nombre" valueProperty="id_sector">
      </app-form-select>

      <app-form-select label="Ubicacion" controlName="id_ubicacion" [formGroup]="ordenTrabajoForm"
        [options]="ubicaciones" displayProperty="nombre" valueProperty="id_ubicacion">
      </app-form-select>

      <app-form-select label="Activos" controlName="id_activo" [formGroup]="ordenTrabajoForm" [options]="activos"
        displayProperty="nombre" valueProperty="id_activo">
      </app-form-select>
    </div>
    <div class="grid-container">
      <app-form-select label="Tipos de tarea" controlName="id_tita" [formGroup]="ordenTrabajoForm" [options]="tiposTarea"
        displayProperty="nombre" valueProperty="id_tita">
      </app-form-select>

      <app-form-date-input label="Tiempo" controlName="tiempo" [formGroup]="ordenTrabajoForm">
      </app-form-date-input>

      <div class="form-group">
        <label for="id_tarea">Tareas</label>
        <select id="id_tarea" formControlName="id_tarea" multiple required>
          <option *ngFor="let tarea of desc" [value]="tarea.id_descripcion">{{ tarea.descripcion }}</option>
        </select>
        <div *ngIf="ordenTrabajoForm.get('id_tarea')?.invalid && ordenTrabajoForm.get('id_tarea')?.touched">
          <small>La tarea es obligatoria.</small>
        </div>
      </div>
    </div>
    <button type="submit" class="btn-submit" [disabled]="ordenTrabajoForm.invalid">Registrar Orden de trabajo</button>
  </form>
</div>