<div class="panel">
    <app-boton-dash [ruta]="ruta" [titulo]="titulo"></app-boton-dash>
    <form [formGroup]="usuarioForm" (ngSubmit)="onSubmit()">
        <div class="grid-container">
            <app-form-input label="Email" type="email" controlName="email" [formGroup]="usuarioForm">
            </app-form-input>
        </div>

        <div class="grid-container">
            <app-form-input label="Password" type="password" controlName="password" [formGroup]="usuarioForm">
            </app-form-input>
        </div>

        <div class="grid-container">
            <div class="form-group">
                <label for="rol">Rol</label>
                <select id="rol" formControlName="rol">
                    <option value="admin">Admin</option>
                    <option value="operario">Operario</option>
                    <option value="usuario">Usuario</option>
                </select>
            </div>
        </div>

        <button type="submit" class="btn-submit" [disabled]="!usuarioForm.valid">Guardar</button>
    </form>
</div>