<div class="main-container-forms">
    <form class="custom-forms" [formGroup]="formData" (ngSubmit)="onSubmit()">
        <app-boton-dash [ruta]="'/inicio'" [titulo]="'Login'"></app-boton-dash>
        <input type="email" id="usuario" name="usuario" formControlName="email" placeholder="nombre de usuario">
        <div *ngIf="formData.get('email')?.invalid && formData.get('email')?.touched">
            <small *ngIf="formData.get('email')?.errors?.['required']">El correo es obligatorio.</small>
            <small *ngIf="formData.get('email')?.errors?.['email']">Formato de correo inválido.</small>
        </div>
        <input type="password" id="password" name="password" placeholder="contraseña" formControlName="password">
        <div *ngIf="formData.get('password')?.invalid && formData.get('password')?.touched">
            <small *ngIf="formData.get('password')?.errors?.['required']">La contraseña es obligatoria.</small>
            <small *ngIf="formData.get('password')?.errors?.['minlength']">Mínimo 6 caracteres.</small>
        </div>
        <button class="botones-login" type="submit" [disabled]="formData.invalid">Iniciar Sesión</button>
        <button class="botones-login" type="submit" [routerLink]="['/registro']">Registro</button>
    </form>
    
</div>