<div class="panel">
  <app-boton-dash [ruta]="'/dashboard'" [titulo]="'Nuevo sector'"></app-boton-dash>
  <form [formGroup]="sectorForm" (ngSubmit)="onSubmit()">
    <div class="grid-container">
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" id="nombre" formControlName="nombre" placeholder="Nombre del sector" required />
        <div *ngIf="sectorForm.get('nombre')?.invalid && sectorForm.get('nombre')?.touched">
          <small *ngIf="sectorForm.get('nombre')?.errors?.['required']">El nombre es obligatorio.</small>
          <small *ngIf="sectorForm.get('nombre')?.errors?.['maxLength']">Máximo 255 caracteres.</small>
        </div>
      </div>

      <div class="form-group">
        <label for="labelTag">Label Tag</label>
        <input type="number" id="labelTag" formControlName="labelTag" placeholder="Etiqueta del sector" />
      </div>
    </div>
    <div class="grid-container">
      <div class="form-group">
        <label for="id_activo">Activo</label>
        <select id="id_activo" formControlName="id_activo" required>
          <option value="">Seleccione un activo</option>
          <option *ngFor="let activo of activos" [value]="activo.id_activo">{{ activo.nombre }}</option>
        </select>
        <div *ngIf="sectorForm.get('id_activo')?.invalid && sectorForm.get('id_activo')?.touched">
          <small>Debe seleccionar un activo.</small>
        </div>
      </div>

      <!-- Select para Ubicación (Clave foránea) -->
      <div class="form-group">
        <label for="id_ubicacion">Ubicación</label>
        <select id="id_ubicacion" formControlName="id_ubicacion" required>
          <option value="">Seleccione una ubicación</option>
          <option *ngFor="let ubicacion of ubicaciones" [value]="ubicacion.id_ubicacion">{{ ubicacion.nombre }}</option>
        </select>
        <div *ngIf="sectorForm.get('id_ubicacion')?.invalid && sectorForm.get('id_ubicacion')?.touched">
          <small>Debe seleccionar una ubicación.</small>
        </div>
      </div>
    </div>
    <button type="submit" class="btn-submit" [disabled]="sectorForm.invalid">Registrar sector</button>
  </form>
</div>