<div class="panel">  
  <app-boton-dash [ruta]="ruta" [titulo]="titulo"></app-boton-dash>  
  <form [formGroup]="edificioForm" (ngSubmit)="onSubmit()">
    <div class="grid-container">
      
      <app-form-input label="Nombre" type="text" controlName="Nombre" [formGroup]="edificioForm">
      </app-form-input>

      <app-form-input label="Direccion" type="text" controlName="Direccion" [formGroup]="edificioForm">
      </app-form-input>
     
    </div>
    <div class="grid-container">
     
      <app-form-input label="labelTag" type="number" controlName="labelTag" [formGroup]="edificioForm">
      </app-form-input>
      

      <app-form-select label="Piso" controlName="id_piso" [formGroup]="edificioForm" [options]="pisos"
        displayProperty="nombre" valueProperty="id_piso">
      </app-form-select>

    </div>
    <button type="submit" class="btn-submit" [disabled]="edificioForm.invalid">Registrar Edificio</button>
  </form>
</div>