<div class="panel">
  <app-boton-dash [ruta]="'/dashboard'" [titulo]="'Nueva ubicación'"></app-boton-dash>
  <form [formGroup]="ubicacionForm" (ngSubmit)="onSubmit()">
    <div class="grid-container">
      
      <app-form-input label="Nombre" type="text" controlName="nombre" [formGroup]="ubicacionForm">
      </app-form-input>

     
      <app-form-input label="Label Tag" type="number" controlName="labelTag" [formGroup]="ubicacionForm">
      </app-form-input>
     
      <app-form-date-input label="Fecha de Creación" controlName="fecha_creacion" [formGroup]="ubicacionForm">
      </app-form-date-input>

    </div>

    <button type="submit" class="btn-submit" [disabled]="ubicacionForm.invalid">Registrar ubicación</button>
  </form>
</div>